.container {
  overflow: auto;
  padding: 20px;
}

.ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 1000px;
}

.li {
  display: flex;
  align-items: center;

  margin-top: 30px;
  &:first-child {
    margin-top: 0;
  }

  .rm {
    display: inline-flex;
    visibility: hidden;
    cursor: pointer;
  }
  &:hover .rm {
    visibility: visible;
  }

  a {
    display: block;
    margin-left: 20px;

    color: #333;
    text-decoration: none;

    &:hover,
    &:active {
      color: #387cec;
    }
  }

  h3 {
    margin: 0;
  }

  .url {
    margin-top: 5px;
    font-size: 0.85em;
  }
}

.sepTinyFooter {
  color: #999;
}
.btnTinyFooter {
  -webkit-appearance: none;
  outline: none;
  border: none;
  text-decoration: underline;
  font-size: smaller;
  padding: 0;
  &:focus {
    outline: 1px solid var(--color-focus-blue);
  }
}
