.home {
  position: relative;
}

.top {
  position: sticky;
  top: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: saturate(180%) blur(20px);
}

.container {
  overflow: auto;
  padding: 20px;
}

.ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 1100px;
}

.li {
  display: grid;
  grid-template-columns: 34px 1fr 34px;
  // display: flex;
  align-items: center;

  margin-top: 30px;

  h2 {
    margin: 0;
    margin-right: 10px;
  }
}

.li:first-child {
  margin-top: 0;
}

.li .pre {
  margin: 0.5em auto;
  font-size: 0.8em;
  font-family: var(--fmono);
  background-color: #f7f7f7;
  padding: 16px 20px 16px 10px;
  border-radius: 10px;
  position: relative;
  // to avoid horizontal scroll
  white-space: pre-wrap;
}

.li a {
  display: block;

  color: #333;
  text-decoration: none;
}
.li a:hover,
.li a:active {
  color: #387cec;
}

.liRight {
  margin-left: 15px;
  flex: 1;
}

.rm {
  visibility: hidden;
}
.li:hover .rm {
  visibility: visible;
}

.copyBtn {
  position: absolute;
  top: 6px;
  right: 6px;
  visibility: hidden;
}

.pre:hover .copyBtn {
  visibility: visible;
}

.row1 {
  display: flex;
  align-items: center;
}

.sepTinyFooter {
  color: #999;
}

.btnTinyFooter {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  text-decoration: underline;
  font-size: smaller;
  padding: 0;
}
.btnTinyFooter:focus {
  outline: 1px solid var(--color-focus-blue);
}
